# Add files here to ignore them from prettier formatting
/.expo
/android
/coverage
/dist
/ios
/tmp
pnpm-lock.yaml
.agents
agent
/apps/mobile/.expo
/apps/mobile/android
/apps/mobile/ios
/apps/mobile/dist
/apps/mobile/coverage
/apps/mobile/tmp
/programs/**/target
/programs/**/.anchor
