SOLANA_RPC_URL=https://api.devnet.solana.com
PROGRAM_ID=9Uf52hSPJPDqDj7QFqL5dKmdJseU1pRtzL8oNQGeDxrP
WALLET_PATH=secrets/worker-wallet.json
ECVRF_KEYPAIR_PATH=ecvrf-keypair.json
IDL_PATH=idl.json
DB_PATH=minuttery.db
